


<div class="o-grid">

  <div class="o-grid__col-md-3  o-grid__col-sm-6">
    <div class="a-header  o-content">
      <div class="o-content__body">
        <h4>Location</h4>
        <address>
          <%= @contact_info[:where] %>
        </address>
      </div>
    </div><!-- /o-content -->
  </div><!-- /o-grid__col -->

  <div class="o-grid__col-md-3  o-grid__col-sm-6">
    <div class="a-header  o-content">
      <div class="o-content__body">
        <h4>Phone</h4>
        <p>
          <%= @contact_info[:mobile] %>
        </p>
      </div>
    </div><!-- /o-content -->
  </div><!-- /o-grid__col -->

  <div class="o-grid__col-md-3  o-grid__col-sm-6">
    <div class="a-header  o-content">
      <div class="o-content__body">
        <a href="http://<%= @contact_info[:website] %>" target="_blank" class="t-link-container">
          <h4>Web</h4>
          <p>
            <span class="t-link-container__item--blended">
                <%= @contact_info[:website] %>
            </span>
          </p>
        </a><!-- /o-link-container -->
      </div>
    </div><!-- /o-content -->
  </div><!-- /o-grid__col -->

  <div class="o-grid__col-md-3  o-grid__col-sm-6">
    <div class="a-header  o-content">
      <div class="o-content__body">
        <h4>Email</h4>
        <p>
          <span class="t-link-container__item--blended">
              <%= @contact_info[:email] %>
          </span>
        </p>
      </div>
    </div><!-- /o-content -->
  </div><!-- /o-grid__col -->

</div><!-- /o-grid -->