<section class="o-section  t-section" style="visibility:<%= @education.empty? ? "hidden" : "visible" %>">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Education
          </h2>
          <div class="o-content__body  o-section__description">
            Lazy isn&#39;t in my vocabulary.
          </div>
        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  u-pt-0">

        <div class="o-content">
          <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
            <div class="c-timeline__end  t-border-color"></div>

            <% @education.each do |element| %>
              <div class="c-timeline__item">
                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                <div class="o-content">
                  <div class="o-grid">
                    <div class="o-grid__col-md-5">
                      <div class="c-work__timeframe">
                        <%= element[:start_date] %> &ndash; <%= element[:end_date] %>
                      </div>
                      <h3 class="c-work__heading">
                        <%= element[:name] %>
                      </h3>
                      <h4 class="c-work__title">
                        <%= element[:focus] %>
                      </h4>
                      <div class="c-work__location">
                        <%= element[:where] %>
                      </div>
                    </div>
                    <div class="o-grid__col-md-7">
                      <p>
                        <%= element[:description] %>
                      </p>
                    </div>
                  </div><!-- /o-grid -->
                </div><!-- /o-content -->
              </div><!-- /c-timeline__item -->
            <% end %>

          </div><!-- /c-timeline -->
        </div><!-- /o-content -->

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->