<section class="o-section  t-section  ">

  <div class="o-section__header-bg  t-section__header"></div>
  <div class="o-section__content-bg  t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">

      <header class="o-section__header  t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">
            Portfolio
          </h2>

        </div>
      </header><!-- /o-section__header -->

      <div class="o-section__content  t-section__content  o-section__full-bottom-space">

        <div class="o-grid  o-grid--gallery">

          <% @portfolio.each do |element| %>

            <div class="o-grid__col-sm-6">

              <%= link_to element[:demo_link], target: :_blank do %>
                <%= image_tag  "portfolio/#{element[:thumb_img]}", style: "filter: gray"%>
              <% end %>



              <h3>
                <%= element[:title] %>
              </h3>
              <hr class="c-image-overlay__deco-line  t-image-overlay__deco-line"/>
              <p>
                <%= element[:description] %>
              </p>


              <%= link_to element[:github_link], target: :_blank do %>
                <i class="fa fa-lg fa-github"></i> &nbsp;
                Github Repo Link
              <% end if element.key?(:github_link)%>

              <br>
              <%= link_to element[:demo_link], target: :_blank do %>
                <i class="fa fa-lg fa-desktop"></i> &nbsp;
                Demo Link
              <% end %>

            </div><!-- /o-grid__col -->

          <% end %>

        </div><!-- /o-grid -->

      </div><!-- /o-section__content -->

    </div><!-- /o-section__container -->
  </div><!-- /o-container -->

</section><!-- /o-section -->