

<div class="c-preloader  js-preloader">
  <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">

  <!-- ################################ -->
  <!-- ############ HEADER ############ -->
  <!-- ################################ -->
  <%= render partial: "header" %>

  <!-- ################################ -->
  <!-- ############ INTRO ############# -->
  <!-- ################################ -->
  <%= render partial: "personal_introduction" %>

  <!-- ################################ -->
  <!-- ########## EXPERTISE ########### -->
  <!-- ################################ -->
  <%= render partial: "expertise" %>

  <!-- ################################ -->
  <!-- ############ SKILLS ############ -->
  <!-- ################################ -->
  <%= render partial: "skills" %>

  <!-- ################################ -->
  <!-- ########## EXPERIENCE ########## -->
  <!-- ################################ -->
  <%= render partial: "experience" %>

  <!-- ################################ -->
  <!-- ########### EDUCATION ########## -->
  <!-- ################################ -->
  <%= render partial: "education" %>

  <!-- ################################ -->
  <!-- ########### PROFILES ########### -->
  <!-- ################################ -->
  <%= render partial: "professional_profiles" %>

  <!-- ################################ -->
  <!-- ############ AWARDS ############ -->
  <!-- ################################ -->
  <%= render partial: "personal_awards" %>

  <!-- ################################ -->
  <!-- ########### PORTFOLIO ########## -->
  <!-- ################################ -->
  <%= render partial: "professional_portfolio" %>

  <!-- ################################ -->
  <!-- ############ CLIENTS ########### -->
  <!-- ################################ -->
  <%= render partial: "clients" %>

  <!-- ################################ -->
  <!-- ############ FOOTER ############ -->
  <!-- ################################ -->
  <%= render partial: "footer" %>

</div><!-- /c-main-container -->
