

<div class="c-preloader  js-preloader">
  <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">

  <!-- ################################ -->
  <!-- ############ HEADER ############ -->
  <!-- ################################ -->
  <%= render partial: "header" %>

  <!-- ################################ -->
  <!-- ############ INTRO ############# -->
  <!-- ################################ -->
  <%= render partial: "introduction" if defined? @personal_intoduction%>

  <!-- ################################ -->
  <!-- ########## EXPERTISE ########### -->
  <!-- ################################ -->
  <%= render partial: "expertise" if defined? @expertise%>

  <!-- ################################ -->
  <!-- ############ SKILLS ############ -->
  <!-- ################################ -->
  <%= render partial: "skills" if defined? @skills%>

  <!-- ################################ -->
  <!-- ########### PORTFOLIO ########## -->
  <!-- ################################ -->
  <%= render partial: "portfolio" %>

  <!-- ################################ -->
  <!-- ########## EXPERIENCE ########## -->
  <!-- ################################ -->
  <%= render partial: "experience" %>

  <!-- ################################ -->
  <!-- ########### EDUCATION ########## -->
  <!-- ################################ -->
  <%= render partial: "education" if !@education.empty? %>

  <!-- ################################ -->
  <!-- ########### PROFILES ########### -->
  <!-- ################################ -->
  <%= render partial: "profiles" %>

  <!-- ################################ -->
  <!-- ############ AWARDS ############ -->
  <!-- ################################ -->
  <%= render partial: "awards" if defined? @awards%>

  <!-- ################################ -->
  <!-- ############ CLIENTS ########### -->
  <!-- ################################ -->
  <%= render partial: "clients" if !@education.empty? %>

  <!-- ################################ -->
  <!-- ############ FOOTER ############ -->
  <!-- ################################ -->
  <%= render partial: "footer" %>

</div><!-- /c-main-container -->
